// Navigation
.navbar {
	min-height:40px;
}
// --Topbar

.navbar-fixed-top {
	&.navbar-default {
		background : #fff no-repeat 0 0 !important;
	}
	.navbar-brand {
		color : #9d9fa2;
	}
	a {
		border-bottom : 1px solid transparent;
		color : #9d9fa2;
		&:hover {

		}
	}
	.active {
		background : #f1f3f6;
	}
	.fa {
		margin-right: 3px;
	}

}
.small-header {
	border:1px solid #e4e5e7;
}
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	padding-right : 17px!important;
}
.navbar-collapse {
	max-height : 100%;
}

.navbar-fixed-top {
	border-bottom: 1px solid #e4e5e7;
	
	.dropdown-menu {
		li.indent {
			a {
				.fa {
					margin-left:-10px ;
					margin-right:15px;
					&.fa-plus {
						margin-left:-13px;
					}
				}
			}
		}
	}
}




.navbar .divider-vertical {
	
	margin: 0 4px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}
.navbar-nav > li > a, .navbar-nav > li > .btn-group > a {
	font-size:inherit;
	line-height :42px;
	padding: 0 15px 2px 15px;
	margin-bottom:0;
}
.navbar-nav > li, .navbar-nav > li > a, .navbar-nav > li > .btn-group > a {
	height: 42px;
}
.navbar-brand {
	height:42px;
	line-height :42px;
	padding: 0 15px 0 15px;
}