<div class="normalheader transition animated fadeIn small-header">
	<div class="panel">
		<div class="panel-body">
			
			<div class="pull-right" id="breadcrumb">
				<ol class="hbreadcrumb breadcrumb">
					<li><a href="/admin">Dashboard</a></li>
					<li><a href="/admin/settings">Domain Settings</a></li>
					<li class="active"><a href="/admin/settings/content">Content Types</a></li>
					
				
				</ol>
			</div>
			<div class="pull-left">
				<h2 class="font-light">
					Content Types
				</h2>
				<small>Content type administration</small>
			</div>
		
		</div>
	</div>
</div>

<section id="content-area" >
	
	
</section>
