<div class="normalheader transition animated fadeIn small-header">
	<div class="panel">
		<div class="panel-body">
			
			<div class="pull-right" id="breadcrumb">
				<ol class="hbreadcrumb breadcrumb">
					<li><a href="/admin">Dashboard</a></li>
					<li><a href="/admin/settings">Domain Settings</a></li>
					<li class="active"><a href="/admin/settings/content">Content Types</a></li>
					
				
				</ol>
			</div>
			<div class="pull-left" id="toolbar-heading" >
				{% if data['ID']=="" %}
					<h2 class="font-light">
						Content Types
					</h2>
					<small>Create a new content type</small>
				
				{% else %}
				<h2 class="font-light">
					<small>Content Types</small>
					- {{ data['label'] }}
				</h2>
				<small>Last edited {{ data['edited_datein'] }} by {{ data['edited_fullname'] }}</small>
				{% endif %}
			</div>
		
		</div>
	</div>
</div>

<form action="#" id="form">
<section id="content-area" >
	
	
</section>
</form>

<script type="text/javascript">
	_data = {{ data|json_encode()|raw() }};
</script>