<div class="content animate-panel" id="content-area">
	<div class="row">
		<div class="col-sm-8">
			
			<div class="panel">
				<div class="panel-body" id="" >
					<section id="preview-area"></section>
				</div>
			</div>
			
		</div>
		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-body">
					{{ rows|raw() }}
				</div>
			</div>
		</div>
	</div>

</div>