#side-bar {
  position: static; }

#side-bar-body {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto; }

#side-bar.affix-top {
  position: static; }
  #side-bar.affix-top #side-bar-body {
    margin-left: 15px;
    margin-right: 15px; }

#side-bar.affix {
  position: fixed;
  top: 84px; }

#preview-area {
  min-height: 200px;
  position: relative; }
  #preview-area:empty:before {
    content: 'Drag a few rows here to start';
    position: absolute;
    display: block;
    top: 50%;
    color: #ccc;
    text-align: center;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #preview-area .row {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: move; }
    #preview-area .row .content-area .row:last-child {
      padding-bottom: 10px; }
    #preview-area .row.hover {
      background-color: rgba(240, 232, 209, 0.71); }
      #preview-area .row.hover .content-area {
        border-style: solid;
        border-width: 2px; }
  #preview-area div.content-area {
    min-height: 30px;
    cursor: default;
    border: 1px dotted #b9b9b9; }
    #preview-area div.content-area .row {
      margin-left: 10px;
      margin-right: 10px; }
    #preview-area div.content-area.hover {
      background-color: #c5e1cf; }
  #preview-area .content-area[class*="col-xs"] {
    border: 1px dotted #34495e; }
  #preview-area .content-area[class*="col-sm"] {
    border: 1px dotted #9b59b6; }
  #preview-area .content-area[class*="col-md"] {
    border: 1px dotted #3498db; }
  #preview-area .content-area[class*="col-lg"] {
    border: 1px dotted #62cb31; }

.ui-placeholder-class {
  background-color: #f1f1f1;
  border: 1px dashed #ccc;
  height: 15px; }

.ui-drag-row {
  width: 300px;
  background-color: rgba(100, 100, 100, 0.2);
  text-align: center;
  border: 1px dashed #b4b4b4;
  padding: 5px 0;
  font-size: 10px;
  cursor: move; }

.ui-drag-row.hover {
  opacity: 0.7; }

#side-bar-body .panel-fixed .panel-body {
  bottom: 35px; }

.panel-body.has-error {
  border-color: red; }

.form-group.panel-heading {
  margin: 0; }

.form-group.panel-body {
  margin: 0; }

.content-block {
  text-align: center; }
  .content-block .badge {
    margin-left: 5px; }

.content-block {
  background-color: rgba(250, 250, 250, 0.6);
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
  cursor: move; }

.content-block:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.content-block:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 0; }

#right-area.hover #side-bar {
  background-color: #e1e1e1; }
  #right-area.hover #side-bar .panel-body, #right-area.hover #side-bar .panel-heading {
    background-color: #e1e1e1; }
